Copy code
<!DOCTYPE html>
<html>
  <head>
    <title>Egg Incubator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Egg Incubator</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Temperature (F)</th>
            <th>Humidity (%)</th>
            <th>Relay Status</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            <td>{{ row.Time }}</td>
            <td>{{ row.Temperature }}</td>
            <td>{{ row.Humidity }}</td>
            <td>{{ row.Relay_Status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>